@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
}

#bg1{
    font-family: 'Fira Sans', sans-serif;
    background: rgb(14,16,53);
    background: linear-gradient(120deg, rgba(14,16,53,1) 10%, rgba(18,28,174,1) 31%, rgba(121,127,168,1) 50%, rgba(29,51,183,1) 71%, rgba(14,16,53,1) 90%);
}
#bg2{
    font-family: 'Fira Sans', sans-serif;
    background: rgb(247,239,138);
    background: linear-gradient(120deg, rgba(247,239,138,1) 0%, rgba(174,134,37,1) 50%, rgba(223,189,105,1) 100%);
}
#bg3{
    font-family: 'Fira Sans', sans-serif;
    background: rgb(239,221,36);
    background: linear-gradient(-120deg, rgba(239,221,36,1) 3%, rgba(217,90,127,1) 18%, rgba(123,4,197,1) 36%, rgba(152,31,175,1) 50%, rgba(217,12,212,1) 65%, rgba(157,6,205,1) 77%, rgba(239,221,36,1) 95%);
}

